.button {
  background: transparent;
  border: none;
  display: block;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 18px 15px;
  min-width: 87px;
  border-radius: 54px;
  font-family: "Mulish", "Arial", sans-serif;
}

.button--bordered {
  border: 1px solid #171717;
  color: #171717;

  &:hover {
    background-color: #190C39;
    color: #ffffff;
  }
}

.button--dark {
  background-color: #190C39;
  color: #ffffff;

  &:hover {
    background-color: #8871F6;
    color: #ffffff;
  }
}

.button--purple {
  background-color: #8871F6;
  color: #ffffff;

  &:hover {
    background-color: #ffffff;
    color: #8871F6;
  }
}

.button--white {
  background-color: #ffffff;
  color: #171717;

  &:hover {
    background-color: #171717;;
    color: #ffffff;
  }
}

.button--squared {
  font-size: 18px;
  line-height: 21px;
  color: rgba(23, 23, 23, 0.6);
  border-radius: 12px;
  background-color: rgba(136, 113, 246, 0);
  transition: background-color 1s ;

  &:hover {
    color: #171717;
  }
  &.active {
    background-color: rgba(136, 113, 246, 1);
    color: #ffffff;
  }
}
