.hoist {
    z-index: 10;
}

.hoisting__element {
    transition: all 2s ease-out;
    z-index: 10;
    opacity: 1;
    translate: 0 0;
}

.hoisting__element--pionerrx {
  transition: all 2.5s ease-out;
}

.hoisting__element--datascan {
  transition: all 3.0s ease-out;
}

.hoisting__element--suitrx {
  transition: all 3.5s ease-out;
}

.hoisting__element--pksoftware {
  transition: all 4.0s ease-out;
}

.hoisting__element--not-visible {
    translate: 0 1000px;
    opacity: 0;
}

.hoisting-text {
    transition: all 1.5s;
    transform: translateY(0%);
    opacity: 1;
    // translate: 0 0;
}

.hoisting-text--start {
    opacity: 0;
    transform: translateY(100%);
}

.push-right {}

.push-right--animation {
    animation: push 0.8s ease-in;
    @media(min-width: $desktop-middle) {
        animation: none;
      }
}

@keyframes push {
    0% {
        translate: 0 0;
    }

    25% {
        translate: 0 0;
    }

    75% {
        translate: 60px 0;
    }

    100% {
        translate: 0 0;
    }
}

