.menu {
  // margin-top: 32px;
  // height: 0;
  // margin: 0;
  // transform: translateX(100vw);
  // transition: 1s;

  margin: 24px 0 0;
  transform: translateX(100vw);
  transition: 1s;
  position: absolute;
  background: #fff;
  z-index: 100;
  width: 100%;
  padding-top: 8px;
  left: 0;
  padding-left: 16px;
  height: calc(100vh - 97px);
}

.menu--oppened {
  // transform: translateX(0%);
  // margin-top: 32px;
  // height: calc(100vh - 105px);

  transform: translateX(0%);
  height: calc(100vh - 97px);
}

.menu__list {
  margin: 0 0 32px 0;
}

.menu__item {
  margin: 0 0 32px 0;
}

.menu__link {
  display: block;
  width: 100%;
  font-size: 18px;
  color: $basic_dark;

  &:hover {
    opacity: 0.5;
  }
}

.menu__link--desk {
  display: none;
}

@media (min-width: $tablet) {
  .menu__link--desk {
    display: block;
  }
}

@media (min-width: $desktop) {
  .menu {
    transform: none;
    height: auto;
    width: 100%;
    display: flex;
    position: initial;
    padding: 0;
    margin: 0;
    background: transparent;
  }

  .menu__list {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .menu__item {
    margin: 0 24px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  .menu__link--desk {
    color: #8871f6;
  }
}
