.page-footer {
  background: $basic_white;
  padding: 48px 16px 32px;
}

.page-footer__text {
  width: 285px;
  opacity: 0.7;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 32px;
  margin-top: 16px;
}
.page-footer__menu {
  display: flex;
  justify-content: space-between;
  margin: 0 0 56px 0;
}

.page-footer__menu-container {
}

.page-footer__menu-title {
  color: $basic_black;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}

.page-footer__list {
}
.page-footer__item {
  margin-bottom: 16px;

  &:last-child {
    margin: 0;
  }
}

.page-footer__link {
  color: #171717;
  display: block;
  width: 100%;

  &:hover {
    opacity: 0.5;
  }
}

.page-footer__address-link {
  color: $basic_black;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  font-style: normal;
  margin-bottom: 16px;
}

.page-footer address {
  display: flex;
  flex-direction: column;
}

.page-footer__address {
  width: 180px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  line-height: 143%;
}

.page-footer__copyright {
  color: $basic_black;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
  width: 275px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: $tablet) {
  .page-footer {
    padding: 40px 60px 24px;
  }

  .page-footer__logo-link {
    display: inline-block;
    cursor: pointer;
  }

  .page-footer__logo {
    display: block;
    width: 130px;
    height: 31px;
  }

  .page-footer__menu {
    justify-content: flex-start;
    margin-bottom: 52px;
  }

  .page-footer__text {
    font-size: 16px;
    width: 300px;
  }

  .page-footer__menu-container:first-child {
    margin-right: 152px;
  }
}

@media (min-width: $desktop) {
  .page-footer {
    padding: 60px 0 32px 0;
  }

  .page-footer__logo {
    width: 168px;
    height: 40px;
  }

  .page-footer__text {
    margin-bottom: 0;
    margin-top: 24px;
  }

  .page-footer__flex-container {
    display: flex;
  }

  .page-footer__menu {
    margin-left: auto;
  }

  .page-footer__copyright {
    font-size: 16px;
    width: 312px;
  }
}
