.page-body {
  // min-width: 414px;
  margin: 0;
  padding: 0;
  font-family: "Mulish", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  background-color: $background;
  background-image: url('../img/background-414.png');
  background-position: 0 0;
  background-size: cover;
  color: $basic_dark;
  overflow-x: hidden;

  min-height: 100%;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    background: $background url('../img/background-768.png') no-repeat 0 0;
    background-size: cover;
  }

  @media (min-width: $desktop) {
    background: $background url('../img/background-1280.png') no-repeat 0 0;
    background-size: cover;
  }
}

.page-body--hidden {
  overflow: hidden;
}
