.page-header {
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  overflow: hidden;
  position: relative;
}

.page-header--white {
  background-color: $basic_white;
  overflow: visible;
}

.page-header--menu-oppened {
  height: 100vh;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo-link {

}

.page-header__logo {

}

.page-header__toggle-container {
  width: 27px;
  height: 19px;
}

.page-header__toggle {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;

  &::before {
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100%;
    height: 3px;
    background-color: $basic_dark;
    border-radius: 10px;
    transition: 0.5s;
  }

  &::after {
    content:'';
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
    width: 100%;
    height: 3px;
    background-color: $basic_dark;
    border-radius: 10px;
    transition: 0.5s;
  }
}

.page-header__toggle span {
  display: none;
  width: 100%;
  height: 3px;
  background-color: $basic_dark;
  border-radius: 10px;
}

.page-header__button {
  width: 223px;
  padding: 17px 32px;

  // Удалить ниже при откате

  position: absolute;
  bottom: 24px;
}

.page-header__button--oppened {
  position: absolute;
  bottom: 24px;
}

.page-header__toggle--closed {
  height: 19px;

  &::before,
  &::after {
    transform: none;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    left: 0;
  }
}

.page-header__toggle--closed span {
  display: block;
}



@media (min-width: $tablet) {
  .page-header {
    padding-left: 60px;
    padding-right: 60px;
    background-color: transparent;
  }

  .page-header--white {
    background-color: $basic_white;
  }
}

@media (min-width: $desktop) {
  .page-header {
    padding: 32px 0;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    min-width: 56px;
  }

  .page-header__container {
    margin-right: 197px;
  }

  .page-header__toggle-container {
    display: none;
  }

  .page-header__button {
    margin-left: auto;
    position: initial;
  }

  .page-header__logo-link {
    width: 130px;
    height: 31px;
  }
}

