.promo {
  padding: 32px 16px 0 16px;
  margin-bottom: 57px;
}

.promo__title {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  line-height: 110%;
  margin: 0 auto 24px;
  max-width: 382px;
}

.promo__text {
  margin: 0 auto 24px;
  max-width: 310px;
  text-align: center;
  font-size: 16px;
  line-height: 130%;
}

.promo__brake {
  display: none;
}

.promo__button {
  width: 100%;
  margin-bottom: 40px;
}

.promo__img-container {

}

.promo__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .promo {
    margin-bottom: 136px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .promo__title {
    font-size: 50px;
    line-height: 110%;
    width: 565px;
    max-width: 565px;
  }

  .promo__text {
    max-width: 510px;
    font-size: 18px;
  }

  .promo__button {
    width: 223px;
    margin: 0 auto 48px;
  }

  .promo__brake {
    display: block;
  }
}
