.promo {
  padding: 32px 16px 0 16px;
  margin-bottom: 80px;
}

.promo__title {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  line-height: 110%;
  margin: 0 auto 24px;
  max-width: 382px;
}

.promo__text {
  margin: 0 auto 24px;
  max-width: 340px;
  text-align: center;
  font-size: 16px;
  line-height: 130%;
}

.promo__brake {
  display: none;
}

.promo__button {
  width: 100%;
  margin-bottom: 40px;
}

.promo__img-container {

}

.promo__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .promo {
    margin-bottom: 136px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .promo__title {
    font-size: 50px;
    line-height: 118%;
    width: 565px;
    max-width: 565px;
  }

  .promo__text {
    max-width: 552px;
    font-size: 18px;
  }

  .promo__button {
    width: 223px;
    margin: 0 auto 48px;
  }

  .promo__brake {
    display: block;
  }
}

@media (min-width: $desktop) {
  .promo {
    padding: 0;
    margin-bottom: 232px;
    position: relative;
  }

  .promo__title {
    font-size: 65px;
    width: 491px;
    text-align: left;
    margin: 0 0 14px 0;
    padding-top: 72px;
  }

  .promo__text {
    width: 431px;
    text-align: left;
    margin: 0 0 24px 0;
    font-family: Mulish;
    font-size: 18px;
    line-height: 130%;
  }

  .promo__button {
    margin: 0;
  }

  .promo__img {
    position: absolute;
    top: 5px;
    right: 3px;
    width: 736px;
    height: 532px;
  }
}
