.slogan {
  background: #8871F6;
  color: $basic_white;
  padding: 48px 16px 32px;
}

.slogan__title {
  max-width: 280px;
  margin: 0 auto 16px;
  text-align: center;
}

.slogan__subtitle {
  max-width: 382px;
  margin: 0 auto 32px;
  text-align: center;
}

.slogan__button {
  width: 100%;
  margin: 0 0 56px 0;
}

.slogan img {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .slogan {
    padding: 48px 60px 32px;
  }

  .slogan__title {
    max-width: 445px;
    margin-bottom: 24px;
  }

  .slogan__subtitle {
    font-size: 18px;
    line-height: 130%;
    max-width: 435px;
    margin-bottom: 24px;
  }

  .slogan__button {
    width: 223px;
    margin: 0 auto 64px;
  }
}

@media (min-width: $desktop) {
  .slogan {
    padding: 72px 0;
  }

  .slogan__block-1 {
    margin-left: 20px;
    padding-top: 103px;
  }

  .slogan__title {
    margin: 0 0 24px 0;
    text-align: left;
  }

  .slogan__subtitle {
    text-align: left;
    font-family: Mulish;
    font-size: 18px;
    max-width: 375px;
    margin: 0 0 24px 0;
  }

  .slogan__button {
    margin: 0;
  }

  .slogan img {
    width: 652px;
    height: 437px;
    margin: 0;
  }

  .slogan__flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
