.slogan {
  background: #8871F6;
  color: $basic_white;
  padding: 48px 16px 32px;
}

.slogan__title {
  max-width: 280px;
  margin: 0 auto 16px;
  text-align: center;
}

.slogan__subtitle {
  max-width: 382px;
  margin: 0 auto 32px;
  text-align: center;
}

.slogan__button {
  width: 100%;
  margin: 0 0 56px 0;
}

.slogan img {
  display: block;
  margin: 0 auto;
}
