.subpromo-slider {
  background:#190C39 url('../img/elips.png') no-repeat center bottom;
  background-size: contain;
  color: $basic_white;
  padding-bottom: 50px;
}

.subpromo-slider__title {
  max-width: 382px;
  margin: 0 auto 74px;
  text-align: center;
}

.subpromo__logo-link {
  display: block;
  margin: 0 auto;
  width: 160px;
}

.subpromo__logo {

}

@media (min-width: $tablet) {
  .subpromo-slider {
    background: #190C39 url("../img/elipse-tablet.png") no-repeat center bottom;
    background-size: contain;
  }

  .subpromo-slider__title {
    max-width: 542px;
  }

  .subpromo__logo-link {
    width: 222px;
    height: 53px;
  }

  .subpromo__logo {
    width: 100%;
  }
}
