.subpromo-slider {
  color: $basic_white;
  padding-bottom: 50px;
}

.subpromo-slider__block {
  height: 437px;
  background: url("../img/elips.png") no-repeat center top;
  background-size: contain;
}

.subpromo-slider__title {
  max-width: 382px;
  margin: 0 auto 54px;
  text-align: center;
}

.subpromo__logo-link {
  display: block;
  margin: 0 auto;
  width: 160px;
}

.subpromo__logo {}

@media (min-width: $tablet) {
  .subpromo-slider {
    padding-bottom: 0;
  }

  .subpromo-slider__block {
    height: 460px;
    background: url("../img/elipse-tablet.png") no-repeat center top;
    background-size: cover;
    padding-top: 71px;
    box-sizing: border-box;
  }

  .subpromo-slider__title {
    max-width: 542px;
    margin: 0 auto;
  }

  .subpromo__logo-link {
    width: 222px;
    height: 53px;
  }

  .subpromo__logo {
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .subpromo-slider {}

  .subpromo-slider__block {
    height: 1228px;
    background: url("../img/ellipse-desk.png") no-repeat center center;
    background-size: cover;
    position: relative;
    padding-top: 117px;
  }

  .subpromo-slider__title {
    max-width: 950px;
  }

  .subpromo__logo-link {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 5;
    width: 336px;
    height: 80px;
  }
}
