.subpromo-slider {
  color: $basic_white;
  padding-bottom: 50px;
}

.subpromo-slider__block {
  height: 335px;
  position: relative;

  &::before {
    content: "";
    width: 760px;
    height: 760px;
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../img/circle-bg.png") no-repeat 0 0;
    background-size: cover;
  }
}

.subpromo-slider__title {
  width: 382px;
  margin: 0 auto 54px;
  text-align: center;
}

.subpromo__logo-link {
  display: block;
  margin: 0 auto;
  width: 160px;
}

.subpromo__logo {}

@media (min-width: $tablet) {
  .subpromo-slider {
    padding-bottom: 0;
  }

  .subpromo-slider__block {
    height: 460px;
    padding-top: 71px;
    box-sizing: border-box;
    &::before {
      width: 760px;
      height: 760px;
      top: 4px;
    }
  }

  .subpromo-slider__title {
    width: 542px;
    margin: 0 auto;
  }

  .subpromo__logo-link {
    width: 222px;
    height: 53px;
  }

  .subpromo__logo {
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .subpromo-slider {}

  .subpromo-slider__block {
    height: 1091px;
    position: relative;
    padding-top: 155px;

    &::before {
      width: 1228px;
      height: 1228px;
      top: -54px;
    }
  }

  .subpromo-slider__title {
    width: 950px;
  }

  .subpromo__logo-link {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 52%;
    z-index: 5;
    width: 274px;
    height: 65px;
  }
}
