.subpromo-wrapper {
  border-radius: 40px;
  overflow: hidden;
  background: #190c39 url('../img/background-spot-light-414.png') no-repeat 0 0;
  background-size: cover;
}


@media (min-width: $desktop) {
  .subpromo-wrapper {
    background: #190c39 url("../img/subpromo-background-t.jpg") no-repeat 0 0;
    background-size: cover;
    border-radius: 95px;
    position: relative;
    z-index: 5;
  }
}
