.subpromo {
  color: $basic_white;
  padding: 24px 16px 83px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
  position: relative;
}

.subpromo__title {
  max-width: 385px;
  text-align: left;
  margin-bottom: 24px;
}

.subpromo__text {
  line-height: 130%;
  margin-bottom: 16px;
  max-width: 485px;
}

.subpromo__text--second {
  margin-bottom: 40px;
}

.subpromo__card-container {
  position: relative;
  width: 100%;
  height: 235px;
  margin: 0 auto 72px;
}

.subpromo__card {
  position: absolute;
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subpromo__card--first {
  top: 70px;
  right: calc(50% + 30px);
  width: 156px;
  height: 194px;
  background: #76E3D4;
  transform: rotate(-5deg);
  z-index: 5;
}

.subpromo__card--second {
  top: 0;
  left: calc(50% - 22px);
  width: 227px;
  min-height: 299px;
  transform: rotate(11deg);
  background: #CBD2F9;
}

.subpromo__icon {
  margin-bottom: 14px;
}

.subpromo__icon--fan {

}

.subpromo__icon--world {
}

.subpromo__card-text {
  color: #3C3C3B;
  text-align: center;
  font-size: 16px;
}

.subpromo__card-text--first {
  width: 120px;
}

.subpromo__card-text--second {
  width: 185px;
}

@media (min-width: $tablet) {
  .subpromo {
    padding: 48px 60px 64px;
  }


  .subpromo__title {
    max-width: 485px;
    margin: 0 auto 24px;
    text-align: center;
  }

  .subpromo__text {
    margin: 0 auto 24px;
    text-align: center;
    max-width: 460px;
  }

  .subpromo__text--second {
    margin-bottom: 48px;
  }
}

@media (min-width: $desktop) {
  .subpromo {
    padding: 80px 0 100px 0;
    width: 1200px;
  }

  .subpromo__title {
    max-width: 763px;
    text-align: left;
    margin: 0 0 32px 0;
  }

  .subpromo__text {
    font-family: Mulish;
    font-size: 18px;
    line-height: 130%;
    max-width: 465px;
    text-align: left;
    margin: 0 0 24px 0;
  }

  .subpromo__card-container {
    position: absolute;
    width: 470px;
    top: 131px;
    right: 65px;
    height: 355px;
  }

  .subpromo__card {
    padding: 16px 8px;
  }

  .subpromo__card--first {
    width: 174px;
    height: 180px;
    box-sizing: border-box;
    z-index: 1000;
    top: 72px;
    right: calc(50% + 17px);
  }

  .subpromo__card--second {
    width: 253px;
    min-height: 206px;
    padding: 8px 8px 16px 8px ;
    top: 42px;
    transform: rotate(8deg);

  }

  .subpromo__card-text {
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  .subpromo__card-text--second {
    width: 170px;
  }

  .subpromo__icon--world {

  }
}
