.test-drive {
  background: #190C39;
  padding: 56px 16px 48px;
  color: $basic_white;
}
.test-drive__title {
  width: 305px;
  text-align: center;
  margin: 0 auto 16px;
}

.test-drive__subtitle {
  width: 330px;
  text-align: center;
  margin: 0 auto 32px;
  font-size: 16px;
  line-height: 130%;
}

.test-drive__button {
  width: 100%;
  margin-bottom: 32px;
}

.test-drive__img {
  display: block;
  border-radius: 25px;
  margin: 0 auto;
  width: 100%;
}
