.test-drive {
  background: #190C39;
  padding: 56px 16px 48px;
  color: $basic_white;
}
.test-drive__title {
  width: 305px;
  text-align: center;
  margin: 0 auto 16px;
}

.test-drive__subtitle {
  max-width: 330px;
  text-align: center;
  margin: 0 auto 32px;
  font-size: 16px;
  line-height: 130%;
}

.test-drive__button {
  width: 100%;
  margin-bottom: 32px;
}

.test-drive__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .test-drive {
    padding: 56px 60px 56px;
  }

  .test-drive__title {
    margin: 0 auto 24px;
    width: 445px;
  }

  .test-drive__subtitle {
    max-width: 482px;
    margin-bottom: 24px;
  }

  .test-drive__button {
    width: 334px;
    margin: 0 auto 48px;
  }
}

@media (min-width: $desktop) {
  .test-drive {
    padding: 106px 0;
  }

  .test-drive__title {
    width: 480px;
    margin: 0 0 24px 0;
    text-align: left;
  }

  .test-drive__subtitle {
    font-family: Mulish;
    font-size: 18px;
    line-height: 130%;
    text-align: left;
    margin: 0 0 24px 0;
    max-width: 465px;
  }

  .test-drive__button {
    width: 223px;
    margin: 0;
  }

  .test-drive__block-1 {
    margin-left: 48px;
  }

  .test-drive__flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .test-drive__img {
    display: block;
    width: 486px;
    height: 403px;
    margin-right: auto;
  }
}
