.title-3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 110%;

  &--white {
    color: $basic_white;
  }
}

@media (min-width: $tablet) {
  .title-3 {
    font-size: 30px;

    &--big {
      font-size: 45px;
    }
  }
}
