.why {
  padding: 130px 16px 0;
}

.why__title {
  width: 260px;
  margin: 0 auto 16px;
}

.why__subtitle {
  max-width: 365px;
  margin: 0 auto 32px;
  text-align: center;
}

.why__list {
}
.why__item {
}

.why__item-title {
  width: 310px;
  margin: 0 0 16px 0;
}

.why__description {
  max-width: 400px;
  margin: 0 0 24px 0;
}
.why__map {
  position: relative;
  margin: 0 0 90px 0;
}

.why__pic {
  display: block;
  min-width: 350px;
  margin: 0 auto;
}

.why__widget {
  display: block;
  position: absolute;
}

.why__widget-time {
  top: 135px;
  left: -25px;
}

.why__widget-name {
  top: 10px;
  right: -15px;
}

.why__img-hipa {
  display: block;
  position: absolute;
}
