<!DOCTYPE html>
<html class="page" lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.min.css">
    <link rel="stylesheet" href="./vendor/swiper.css">
    <link rel="stylesheet" href="./css/style.min.css">
    <!-- <link rel="preload" href="./fonts/jost-extrabold.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="./fonts/jost-extrabold.woff2" as="font" type="font/woff2"crossorigin="anonymous">
    <link rel="preload" href="./fonts/jost-regular.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="./fonts/jost-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous"> -->
    <title>Rx4Route</title>
  </head>
  <body class="page-body">
    <header class="page-header">
      <div class="page-header__container">
        <a class="page-header__logo-link">
          <img class="page-header__logo" src="./img/logo.svg" alt="Logotype Rx4Route">
      </a>
      <div class="page-header__toggle-container">
        <button class="page-header__toggle page-header__toggle--closed" type="button" aria-label="Открыть/закрыть меню навигации">
          <span></span>
        </button>
      </div>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#about" class="menu__link">About us</a>
          </li>
          <li class="menu__item">
            <a href="#service" class="menu__link">Service features</a>
          </li>
          <li class="menu__item">
            <a href="#features" class="menu__link">Features</a>
          </li>
          <li class="menu__item">
            <a href="#contacts" class="menu__link">Contacts</a>
          </li>
        </ul>
        <button class="page-header__button button button--bordered" type="button">Get Quote</button>
      </nav>
    </header>
    <main class="page-main">
        {{> body }}
    </main>
    <footer class="page-footer">
      <a class="page-footer__logo-link">
        <img class="page-footer__logo" src="./img/logo.svg" alt="Logotype Rx4Route">
      </a>
      <p class="page-footer__text">Our platform is designed to streamline your business operations, saving you time and money.</p>
      <nav class="page-footer__menu">
        <div class="page-footer__menu-container">
          <p class="page-footer__menu-title">Menu</p>
          <ul class="page-footer__list">
            <li class="page-footer__item">
              <a href="#" class="page-footer__link">About us</a>
            </li>
            <li class="page-footer__item">
              <a href="#" class="page-footer__link">How it works</a>
            </li>
            <li class="page-footer__item">
              <a href="#" class="page-footer__link">Features</a>
            </li>
            <li class="page-footer__item">
              <a href="#" class="page-footer__link">Contacts</a>
            </li>
          </ul>
        </div>
        <div class="page-footer__menu-container">
          <p class="page-footer__menu-title">Contacts</p>
          <address>
            <a class="page-footer__address-link" href="mailto:info@rx4route.com" aria-label="Write to us">info@rx4route.com</a>
            <a class="page-footer__address-link" href="tel:+14540000000">+1 (454) 000 00 00</a>
            <p class="page-footer__address">
              248 Bridge St, Metuchen, NJ 08840
            </p>
          </address>
        </div>
      </nav>
      <p class="page-footer__copyright">All rights reserved (c) 2023 Rx4Route LLC.</p>
    </footer>
    <script src="./vendor/swiper-bundle.min.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/burger.js"></script>
  </body>
</html>
