.only--mobile {
  display: inline-block;

  @media (min-width: $tablet) {
    display: none;
  }
}

.only--tablet {
  display: none;

  @media (min-width: $tablet) {
    display: inline-block;
  }
  @media (min-width: $desktop) {
    display: none;
  }
}

.only--desktop {
  display: none;

  @media (min-width: $desktop) {
    display: inline-block;
  }
}