.phone-swiper {
  width: 90%;
  overflow: hidden;
}

.phone-swiper .slider-item {
  margin: 0 -40px;
  padding: 0;
  z-index: 5;
  transition: all 1s;
  transform: scale(0.8);
}

.phone-swiper .swiper-slide-active {
  z-index: 10;
  transform: scale(1);
  box-shadow: rgb(204 204 204) 3px 4px 10px;
}