.phone-slider {
  margin: 0 16px;
  overflow: hidden;

  @media (min-width: $desktop) {
    overflow: visible;
    position: relative;
    border-radius: 30px;
    background: rgba(185, 248, 236, 0.3);

    &--violet {
      background-color: rgba(232, 213, 252, 0.3);
    }

    &--pistachios {
      background-color: rgba(185, 248, 236, 0.3);
    }

    &--sky {
      background-color: rgba(216, 235, 253, 0.3);
    }    
  }
}

.phone-slider__text-block {
  margin: 0 0 9px;
}

.phone-slider__swiper {}

.phone-slider__pagination {
  position: absolute;
  bottom: -22px !important;
  right: 0;
}