.phone-texts {
  position: relative;

  @media(min-width: $desktop) {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
}

.phone-texts__item {
  padding: 26px 26px 37px;
  border-radius: 18px;
  margin-bottom: 9px;
  background: #b9f8ec;
  width: 100%;
  box-sizing: border-box;
  min-height: 200px;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s;

  @media(min-width: $desktop) {
    position: absolute;
    width: 336px;
    transition: none;
    z-index: -1;
    padding: 30px 26px 27px;
    font-size: 18px;
    line-height: 23px;
  }
}

.phone-texts__item--active {
  opacity: 1;
  z-index: 10;
  position: relative;

  @media(min-width: $desktop) {
    position: absolute;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    opacity: 1;
    animation: activating 1s;
  }
}

.phone-texts__item--sky {
  background-color: #d8ebfd;
}

.phone-texts__item--pistachios {
  background-color: #b9f8ec;
  ;
}

.phone-texts__item--violet {
  background-color: #e8d5fc;
}

.phone-texts__title {
  margin-bottom: 16px;
}


@keyframes activating {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}