.position {}

.position--left-bottom {
    left: -20px;
    bottom: -20px;
}

.position--right-bottom {
    right: -14px;
    bottom: 30px;
}

.position--right-middle {
    right: -60px;
    bottom: 108px;
}