.position {}

.position--left-bottom {
  @media (min-width: $desktop) {
    left: -29px;
    bottom: -14px;
  }
}

.position--right-bottom {
  @media (min-width: $desktop) {
    right: -14px;
    bottom: 30px;
  }
}

.position--right-middle {
  @media (min-width: $desktop) {
    right: -14px;
    bottom: 108px;
  }
}