.service-features {
  width: 100%;
  box-sizing: border-box;
  // margin-top: -36px;
  padding: 32px 0 127px;

  @media(min-width: $tablet) {
    // padding: 189px 40px 155px;
  }

  @media(min-width: $desktop-middle) {
    background: url("../img/slide-features/bg/lights.png") no-repeat 0 0;
    background-size: 100% 100%;
    margin-top: -106px;
    position: relative;
    z-index: 1;
    padding-top: 291px;
    padding-bottom: 174px;
  }
}

.service-features--smart {
  @media(min-width: $desktop-middle) {
    background-image: url("../img/slide-features/bg/smart-light.png");
  }
}

.service-features__wrapper {
  border-radius: 40px;
  overflow: hidden;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;

  @media(min-width: $tablet) {}

  @media(min-width: $desktop-middle) {
    margin: 0 auto;
    max-width: 1200px;
    padding: 41px 40px 53px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 41px;
    box-sizing: border-box;
  }
}

// .body--slider-activate .service-features{
//   position: sticky;
//   top: -277px;
// }

.service-features__slider {
  position: relative;
  z-index: 5;
  margin-top: -13px;

  @media(min-width: $desktop-middle) {
    margin-top: 0;
  }
}

.service-features__container {
  @media(min-width: $tablet) {}

  @media(min-width: $desktop-middle) {
    display: flex;
    justify-content: space-between;
  }
}

.service-features__title {
  margin-bottom: 23px;
  padding: 0 35px;
  box-sizing: border-box;

  @media(min-width: $tablet) {}

  @media(min-width: $desktop-middle) {
    padding: 0;
    margin: 0 0 32px;
  }
}

.service-features__buttons-container {
  position: relative;
  padding-right: 32px;
  padding-left: 32px;

  @media(min-width: $desktop-middle) {
    padding: 0;
    margin: 0;
  }
}

.service-features__buttons-wrapper {
  width: 100%;
  padding-bottom: 23px;
  box-sizing: border-box;
  position: relative;
  overflow: auto;

  @media(min-width: $tablet) {}

  @media(min-width: $desktop-middle) {
    width: 240px;
    overflow: visible;
    z-index: 20;
  }

}

.service-features__buttons-container::-webkit-scrollbar {
  // display: none;
}

.service-features__buttons {
  display: inline-flex;
  white-space: nowrap;
  justify-content: space-between;
  width: 100%;

  @media(min-width: $tablet) {
    justify-content: flex-start;
    width: auto;
  }

  @media(min-width: $desktop-middle) {
    display: block;
    justify-content: flex-start;
    width: auto;
  }
}

.service-features__button {
  padding: 14px 22px 13px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }

  @media(min-width: $desktop-middle) {
    font-size: 18px;
    line-height: 22px;
    padding: 18px 31px 16px;
    width: 195px;
    text-align: left;
    justify-content: flex-start;
  }
}

.service-features__slider {
  @media(min-width: $tablet) {}

  @media(min-width: $desktop-middle) {
    width: 864px;
  }
}
