.service-slider__item {
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
  z-index: 0;
}

.service-slider__item--active {
  // display: block;
  opacity: 1;
  position: relative;
  z-index: 5;
}

// .service-slider__item:nth-child(1) {
//   background-color: red;
// }

// .service-slider__item:nth-child(2) {
//   background-color: blue;
// }

// .service-slider__item:nth-child(3) {
//   background-color: green;
// }