.simple-slider {
  margin: 0 16px;
  overflow: hidden;

  @media (min-width: $desktop) {
    overflow: visible;
    position: relative;
  }
}

.simple-slider__text-block {
  margin: 0 0 9px;
}

.simple-slider__swiper {}