.simple-slider {
  margin: 0 32px;
  overflow: hidden;

  @media (min-width: $desktop) {
    overflow: visible;
    position: relative;
    margin: 0;
  }
}

.simple-slider__text-block {
  margin: 0 0 9px;
}

.simple-slider__swiper {}