.softs {
  position: relative;
  height: 275px;
  width: 144px;
  margin: 0 auto 24px;
}

.softs__item {
  position: absolute;
  top: 0;
  left: 0;
  height: 275px;
  width: 144px;
  opacity: 0;
  transition: opacity 1.5s;
}

.softs__item--active {
  opacity: 1;
}

.softs__link {
  width: 160px;
  height: 71px;
  display: block;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  text-align: center;
  border-radius: 14px;

  @media (min-width: $desktop) {
    border-radius: 18px;
  }
}

.softs__center {
  border-radius: 26px;
  border: 1px dashed #ffffff;
  padding: 20px 23px;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  width: 160px;
  height: 71px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  align-items: center;
}

.softs__logo {
  height: 100%;
  width: auto;
}

.softs__block {
  padding: 0;
  margin: 0;
  height: 154px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  &::before {
    content: "";
    height: 154px;
    width: 1px;
    border-left: 2px solid #8871F6;
    position: absolute;
    bottom: 0;
    left: calc(50% + 12px);
  }

  &::after {
    content: "";
    height: 154px;
    width: 1px;
    border-left: 2px solid #31D8B1;
    position: absolute;
    bottom: 0;
    left: calc(50% - 12px);
  }
}

.softs__in {
  padding: 0;
  margin: 0;
  color: #ffffff;
  border-radius: 30px;
  // background: #8871f6;
  background-image: linear-gradient(180deg, #8871F6 0%, #7960F6 100%);
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  padding: 6px 17px 7px;
  line-height: 110%;
  position: absolute;
  left: calc(50% + 19px);
  top: 100%;
  transform: translateY(-50%);
  opacity: 0;

  &::before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #8871f6;
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.softs__item--active .softs__in {
  animation: in 6s ease;
}

.softs__out {
  padding: 0;
  margin: 0;
  color: #ffffff;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  background: url("../img/softs/check.svg") no-repeat 12px center / 12px 12px, linear-gradient(125deg, #31D8B1 0%, #03C799 100%);
  font-size: 13px;
  font-weight: 500;
  line-height: 110%;
  padding: 4px 12px 4px 27px;
  // background-size: 12px 12px;
  position: absolute;
  right: calc(50% + 19px);
  transform: translateY(-50%);
  opacity: 0;

  &::before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #31d8b1;
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.softs__item--active .softs__out {
  animation: out 6s ease;
}

@keyframes in {
  0% {
    top: 0;
    opacity: 0;
  }

  25% {
    top: 0;
    opacity: 1;
  }

  75% {
    top: 100%;
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 100%;
  }
}

@keyframes out {
  0% {
    top: 100%;
    opacity: 0;
  }

  25% {
    top: 100%;
    opacity: 1;
  }

  75% {
    top: 0%;
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 0%;
  }
}

@media (min-width: $tablet) {
  .softs {
    margin-bottom: 15px;
  }

  .softs__item {
    height: 254px;
  }

  .softs__in,
  .softs__out {
    font-size: 16px;
    padding: 8px 27px;
    line-height: 110%;
  }

  .softs__center {
    top: 0;
  }

  .softs__link {
    top: 0;
  }
}

@media (min-width: $desktop) {
  .softs {
    width: 1228px;
    height: 1228px;
    z-index: 1;
  }

  .softs__item {
    opacity: 1;
    height: 367px;

    &::before {
      content: "";
      height: 192px;
      width: 1px;
      border-left: 2px solid #8871F6;
      position: absolute;
      bottom: 43px;
      left: calc(50% + 10px);
    }

    &::after {
      content: "";
      height: 192px;
      width: 1px;
      border-left: 2px solid #31D8B1;
      position: absolute;
      bottom: 43px;
      left: calc(50% - 12px);
    }
  }

  .softs__item--primerx::before,
  .softs__item--primerx::after {
    bottom: -42px;
  }

  .softs__item--suiterx::before,
  .softs__item--suiterx::after {
    height: 211px;
    bottom: -7px;
  }

  .softs__item--suiterx::before {
    left: calc(50% + 14px);
  }

  .softs__item--suiterx::after {
    left: calc(50% - 9px);
  }



  .softs__item--datascan::before,
  .softs__item--datascan::after {
    height: 211px;
    bottom: 7px;
    left: calc(50% + 12px);
  }

  .softs__item--datascan::before {
    left: calc(50% + 13px);
  }

  .softs__item--datascan::after {
    left: calc(50% - 10px);
  }

  .softs__item--pksoftware::before,
  .softs__item--pksoftware::after {
    height: 211px;
    bottom: 7px;
    left: calc(50% + 12px);
  }

  .softs__item--pksoftware::before {
    left: calc(50% + 13px);
  }

  .softs__item--pksoftware::after {
    left: calc(50% - 10px);
  }

  .softs__item--pioneerrx::before,
  .softs__item--pioneerrx::after {
    height: 211px;
    bottom: -13px;
    left: calc(50% + 12px);
  }

  .softs__item--pioneerrx::before {
    left: calc(50% + 13px);
  }

  .softs__item--pioneerrx::after {
    left: calc(50% - 10px);
  }

  .softs__block {
    height: 226px;
  }

  .softs__block::after,
  .softs__block::before {
    // height: 227px;
    display: none;
  }

  .softs__in::before {
    width: 16px;
    height: 16px;
  }

  .softs__out::before {
    width: 16px;
    height: 16px;
  }

  .softs__center {
    font-size: 22px;
    width: 187px;
    height: 80px;
    top: 30px;
    border-radius: 18px;
  }

  .softs__link {
    width: 186px;
    height: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .softs__logo {
    height: 135%;
  }


  .softs__item--your {
    top: -18px;
    left: 542px;

    & .softs__in {
      left: calc(50% + 37px);
      animation: in 5s ease infinite;

      &::before {
        left: -36px;
      }
    }

    & .softs__out {
      right: calc(50% + 24px);
      animation: out 5s ease infinite;
      padding: 8px 27px 8px 39px;
      background: #31d8b1 url(../img/softs/check.svg)no-repeat 20px center;
      background-size: 12px 12px;

      &::before {
        right: -21px;
      }
    }
  }

  .softs__item--datascan {
    transform: rotate(63deg);
    top: 75px;
    left: 875px;

    & .softs__block {
      height: 223px;
      bottom: -37px;
    }

    & .softs__in {
      transform: rotate(-63deg);
      left: calc(50% + 17px);
      margin-top: -118px;
      animation: in 8s ease infinite;

      &::before {
        top: -4px;
        left: -29px;
      }
    }

    & .softs__out {
      transform: rotate(-63deg);
      right: calc(50% + 2px);
      animation: out 8s ease infinite;
      padding: 8px 27px 8px 37px;
      background: #31d8b1 url(../img/softs/check.svg)no-repeat 18px center;
      background-size: 12px 12px;

      &::before {
        right: -24px;
        top: 28px;
      }
    }

    & .softs__link {
      transform: rotate(-63deg);
      top: 0px;
      left: -24px;
    }
  }

  .softs__item--pksoftware {
    transform: rotate(116deg);
    top: 376px;
    left: 878px;

    & .softs__block {
      height: 235px;
      bottom: 59px;
    }

    & .softs__in {
      transform: rotate(-116deg);
      left: calc(50% + 13px);
      margin-top: 116px;
      animation: in 7s ease infinite;

      &::before {
        left: unset;
        top: 11px;
        right: -50px;
      }
    }

    & .softs__out {
      transform: rotate(-116deg);
      right: calc(50% - 1px);
      animation: out 7s ease infinite;
      padding: 8px 27px 8px 39px;
      background: #31d8b1 url(../img/softs/check.svg)no-repeat 20px center;
      background-size: 12px 12px;

      &::before {
        right: unset;
        top: 42px;
        left: -10px;
      }
    }

    & .softs__link {
      transform: rotate(-116deg);
      top: 2px;
      left: -11px;
    }
  }

  .softs__item--primerx {
    transform: rotate(180deg);
    top: 558px;
    left: 543px;

    & .softs__block {
      height: 228px;
      bottom: 17px;
    }

    & .softs__in {
      transform: rotate(-180deg);
      left: calc(50% + 35px);
      margin-top: 0px;
      animation: in 3s ease infinite;

      &::before {
        left: unset;
        right: -35px;
        top: 33px;
      }
    }

    & .softs__out {
      transform: rotate(-180deg);
      right: calc(50% + 25px);
      animation: out 3s ease infinite;
      padding: 8px 27px 8px 38px;
      background: #31d8b1 url(../img/softs/check.svg)no-repeat 18px center;
      background-size: 12px 12px;

      &::before {
        right: unset;
        left: -22px;
      }
    }

    & .softs__link {
      transform: rotate(-180deg);
      top: 113px;
      left: -20px;
      width: 186px;
      height: 80px;
    }
  }

  .softs__item--pioneerrx {
    transform: rotate(-117deg);
    top: 388px;
    left: 190px;

    & .softs__block {
      height: 228px;
      bottom: -40px;
    }

    & .softs__in {
      transform: rotate(118deg);
      left: calc(50% + 12px);
      margin-top: -126px;
      animation: in 6s ease infinite;

      &::before {
        left: unset;
        right: -34px;
        top: 46px;
      }
    }

    & .softs__out {
      transform: rotate(118deg);
      right: calc(50% - 1px);
      animation: out 6s ease infinite;
      padding: 8px 27px 8px 39px;
      background: #31d8b1 url(../img/softs/check.svg)no-repeat 20px center;
      background-size: 12px 12px;

      &::before {
        right: unset;
        left: -27px;
        top: 10px;
      }
    }

    & .softs__link {
      transform: rotate(117deg);
      top: 20px;
      left: -27px;
    }
  }

  .softs__item--suiterx {
    transform: rotate(-64deg);
    top: 75px;
    left: 192px;

    & .softs__block {
      height: 228px;
      bottom: 64px;
    }

    & .softs__in {
      transform: rotate(64deg);
      left: calc(50% + 16px);
      margin-top: 100px;
      animation: in 9s ease infinite;

      &::before {
        top: 49px;
        left: -35px;
      }
    }

    & .softs__out {
      transform: rotate(64deg);
      right: calc(50% - 1px);
      animation: out 9s ease infinite;
      padding: 8px 27px 8px 37px;
      background: #31d8b1 url(../img/softs/check.svg)no-repeat 18px center;
      background-size: 12px 12px;

      &::before {
        top: 2px;
        right: -14px;
      }
    }

    & .softs__link {
      transform: rotate(64deg);
      top: 17px;
      left: -9px;
    }
  }
}
