<section class="promo">
  <h1 class="promo__title">Expand your pharmacy with Rx4Route</h1>
  <p class="promo__text">Our platform is designed to streamline your <br class="promo__brake"> pharmacy operations, saving you time and money.</p>
  <button class="promo__button button button--dark" type="button">Get Quote</button>

  <div class="promo__img-container">
    <picture>
      <source type="image/webp" media="(min-width: 1440px)"
        srcset="img/promo-img-desk.webp 1x, ./img/promo-img-desk@2x.webp 2x">
      <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
      <source type="image/webp" srcset="img/promo-img-mobile.webp 1x, ./img/promo-img-mobile@2x.webp 2x">
      <source media="(min-width: 1440px)" srcset="./img/promo-img-desk.jpg 1x, ./img/promo-img-desk@2x.jpg 2x">
      <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
      <img class="promo__img" src="./img/promo-img-mobile.jpg" srcset="./img/promo-img-mobile@2x.jpg 2x" alt="">
    </picture>
  </div>
</section>
