<section class="promo container hoist">
  <h1 class="promo__title hoisting-text--main-start hoisting-text">Expand your pharmacy with Rx4Route</h1>
  <p class="promo__text hoisting-text--start hoisting-text">Introducing Rx4Route: The cutting-edge delivery software for pharmacies. Real-time tracking, door picture verification, and efficient routes. Elevate your prescription delivery service today.</p>
  <button class="promo__button button button--dark hoisting-text--start hoisting-text booking-button" type="button">Get Quote</button>
    <picture>
      <source type="image/webp" srcset="./img/promo-desktop@3x.webp">
      <img class="promo__img" src="./img/promo-desktop@3x.png" alt="">
    </picture>
    <!-- <img class="promo__img--plashka hoisting__element hoisting__element--not-visible-100" src="./img/promo-plashka.svg" alt=""> -->
    <div class="promo__img--plashka hoisting__element hoisting__element--not-visible-100">
      Advanced tech for drivers and patients
    </div>
</section>
