<section class="promo">
  <h1 class="promo__title">Expand your pharmacy with Rx4Route</h1>
  <p class="promo__text">Introducing Rx4Route: The cutting-edge delivery software for pharmacies. Real-time tracking, door picture verification, and efficient routes. Elevate your prescription delivery service today.</p>
  <button class="promo__button button button--dark" type="button">Get Quote</button>
  <picture>
    <source type="image/webp" srcset="./img/promo-desktop@3x.webp">
    <img class="promo__img" src="./img/promo-desktop@3x.png" alt="">
  </picture>

  <!-- <div class="promo__img-container">
  </div> -->
</section>
