<ul class="slider slider__drivers">
  <li class="slider__item slider__item--current">
    <div class="slider__description">
      <h4 class="slider__title title-4">Simplified Route Navigation</h4>
      <p class="slider__text">Rx4Route provides drivers with realtime route guidance, helping them navigate
        efficiently from one destination to another. Optimize your driving routes and reach patients quickly,
        saving
        time and fuel.</p>
    </div>
    <div class="slider__picture">
      <picture>
        <source type="image/webp" media="(min-width: 1440px)"
          srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
        <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
        <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
        <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
        <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
        <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
      </picture>
    </div>
  </li>
  <li class="slider__item">
    <div class="slider__description">
      <h4 class="slider__title title-4">Instant Order Notifications</h4>
      <p class="slider__text">Drivers receive instant notifications on their app whenever a new delivery order is
        assigned to them. This feature ensures drivers are always up-to-date with their schedule and can promptly
        begin their next delivery.</p>
    </div>
    <div class="slider__picture">
      <picture>
        <source type="image/webp" media="(min-width: 1440px)"
          srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
        <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
        <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
        <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
        <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
        <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
      </picture>
    </div>
  </li>
  <li class="slider__item">
    <div class="slider__description">
      <h4 class="slider__title title-4">Real-time Navigation</h4>
      <p class="slider__text">Our integrated GPS navigation system guides drivers throughout the entire delivery
        journey. Drivers can rely on turn-by-turn directions and real-time traffic updates to navigate the best
        route
        and avoid potential delays.</p>
    </div>
    <div class="slider__picture">
      <picture>
        <source type="image/webp" media="(min-width: 1440px)"
          srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
        <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
        <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
        <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
        <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
        <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
      </picture>
    </div>
  </li>
  <li class="slider__item">
    <div class="slider__description">
      <h4 class="slider__title title-4">Intuitive Mobile App</h4>
      <p class="slider__text">Our dedicated mobile app is designed with drivers in mind. It provides a
        straightforward
        interface that allows drivers to access all essential information, including delivery details, customer
        addresses, and real-time updates, right at their fingertips.</p>
    </div>
    <div class="slider__picture">
      <picture>
        <source type="image/webp" media="(min-width: 1440px)"
          srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
        <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
        <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
        <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
        <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
        <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
      </picture>
    </div>
  </li>
  <li class="slider__item">
    <div class="slider__description">
      <h4 class="slider__title title-4">Efficient Route Planning</h4>
      <p class="slider__text">Say goodbye to guesswork and time-consuming route planning. Our software
        automatically
        generates optimized delivery routes, ensuring drivers take the most efficient path to complete their
        deliveries promptly.</p>
    </div>
    <div class="slider__picture">
      <picture>
        <source type="image/webp" media="(min-width: 1440px)"
          srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
        <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
        <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
        <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
        <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
        <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
      </picture>
    </div>
  </li>
</ul>
<div class="pagination pagination__slider-drivers">
  <button class="pagination__button pagination__button--current" type="button">1</button>
  <button class="pagination__button" type="button">2</button>
  <button class="pagination__button" type="button">3</button>
  <button class="pagination__button" type="button">4</button>
  <button class="pagination__button" type="button">5</button>
</div>