{{#each global.slider}}
<li class="service-slider__item">
  {{#ifequal stype "simple"}}
  <div class="simple-slider">
    <ul class="simple-slider__text-block simple-texts {{texts}} ">
      {{#each screen}}
      <li class="simple-texts__description simple-texts__description--{{background}} position position--{{position}}">
        <h4 class="simple-texts__title title-4">{{description-title}}</h4>
        <p class="simple-texts__text">{{description-text}}</p>
      </li>
      {{/each}}
    </ul>
    <div class="simple-swiper swiper slider" data-text="{{texts}}" id="swiper-{{swiperId}}">
      <ul class="slider__container slider__pharmacies swiper-wrapper">
        {{#each screen}}
        <li class="slider__item slider-item swiper-slide">
          <div class="slider-item__picture">
            <picture>
              <source type="image/webp" srcset="./img/{{img-mob}}.webp">
              <img class="slider-item__pic" src="./img/{{img-mob}}.jpg" alt="{{description-title}}">
            </picture>
          </div>
        </li>
        {{/each}}
      </ul>
      <div class="pagination pagination-{{swiperId}} pagination__slider-phar swiper__pagination"></div>
    </div>
  </div>
  {{else}}
  <div class="phone-slider">
    <ul class="phone-slider__text-block phone-texts {{texts}}">
      {{#each screen}}
      <li class="phone-texts__item phone-texts__item--{{background}} position position--{{position}}" data-color="{{background}}">
        <h4 class="phone-texts__title title-4">{{description-title}}</h4>
        <p class="phone-texts__text">{{description-text}}</p>
      </li>
      {{/each}}
    </ul>
    <div class="phone-slider__swiper phone-swiper" data-text="{{texts}}"  id="swiper-{{swiperId}}">
      <div class="phone-swiper__wrapper swiper-wrapper">
        {{#each screen}}
        <div class="swiper-slide phone-swiper__slide">
          <img class="phone-swiper__img" src="./img/{{img-mob}}.png" alt="{{description-title}}">
        </div>
        {{/each}}
      </div>
      <div class="pagination pagination-{{swiperId}} phone-slider__pagination swiper__pagination"></div>
    </div>
  </div>
  {{/ifequal}}
</li>
{{/each}}
