<div class="swiper">
  <ul class="slider slider__pharmacies swiper-wrapper">
    <li class="slider__item slider__item--current">
      <div class="slider__description">
        <h4 class="slider__title title-4">Seamless Integration</h4>
        <p class="slider__text">Connect Rx4Route with your existing pharmacy Information and Prescription Systems
          (IPS)
          effortlessly, without disrupting your workflow. Our software integrates smoothly, ensuring a hassle-free
          transition.</p>
      </div>
      <div class="slider__picture">
        <picture>
          <source type="image/webp" media="(min-width: 1440px)"
            srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
          <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
          <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
          <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
          <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
          <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
        </picture>
      </div>
    </li>
    <li class="slider__item">
      <div class="slider__description">
        <h4 class="slider__title title-4">Заголовок второго слайда</h4>
        <p class="slider__text">Текст второго слайда</p>
      </div>
      <div class="slider__picture">
        <picture>
          <source type="image/webp" media="(min-width: 1440px)"
            srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
          <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
          <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
          <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
          <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
          <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
        </picture>
      </div>
    </li>
    <li class="slider__item">
      <div class="slider__description">
        <h4 class="slider__title title-4">Заголовок третьего слайда</h4>
        <p class="slider__text">Текст второго слайда</p>
      </div>
      <div class="slider__picture">
        <picture>
          <source type="image/webp" media="(min-width: 1440px)"
            srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
          <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
          <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
          <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
          <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
          <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
        </picture>
      </div>
    </li>
    <li class="slider__item">
      <div class="slider__description">
        <h4 class="slider__title title-4">Заголовок четвертого слайда</h4>
        <p class="slider__text">Текст четвертого слайда</p>
      </div>
      <div class="slider__picture">
        <picture>
          <source type="image/webp" media="(min-width: 1440px)"
            srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
          <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
          <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
          <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
          <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
          <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
        </picture>
      </div>
    </li>
  </ul>
  <div class="pagination pagination__slider-phar">
    <button class="pagination__button pagination__button--current" type="button">1</button>
    <button class="pagination__button" type="button">2</button>
    <button class="pagination__button" type="button">3</button>
    <button class="pagination__button" type="button">4</button>
  </div>
</div>