<ul class="slider slider__patients">
  <li class="slider__item slider__item--current">
    <div class="slider__description">
      <h4 class="slider__title title-4">Customer Communication</h4>
      <p class="slider__text">Stay connected with patients and pharmacies through our built-in communication
        features.
        Receive instant notifications and updates on delivery instructions, ensuring smooth coordination and
        exceptional customer service.</p>
    </div>
    <div class="slider__picture">
      <picture>
        <source type="image/webp" media="(min-width: 1440px)"
          srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
        <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
        <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
        <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
        <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
        <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
      </picture>
    </div>
  </li>
  <li class="slider__item">
    <div class="slider__description">
      <h4 class="slider__title title-4">Delivery Status Updates</h4>
      <p class="slider__text">Keep customers informed and satisfied with timely delivery status updates. Our
        software
        allows drivers to send automatic notifications to customers, ensuring they are aware of their order's
        progress.</p>
    </div>
    <div class="slider__picture">
      <picture>
        <source type="image/webp" media="(min-width: 1440px)"
          srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
        <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
        <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
        <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
        <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
        <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
      </picture>
    </div>
  </li>
  <li class="slider__item">
    <div class="slider__description">
      <h4 class="slider__title title-4">Electronic Proof of Delivery</h4>
      <p class="slider__text">Our ePOD feature enables drivers to record essential delivery details, including
        customer signatures, delivery timestamps, and any additional notes. This digital record enhances
        transparency
        and simplifies proof of delivery documentation.</p>
    </div>
    <div class="slider__picture">
      <picture>
        <source type="image/webp" media="(min-width: 1440px)"
          srcset="img/seamless-d.webp 1x, ./img/seamless-d@2x.webp 2x">
        <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
        <source type="image/webp" srcset="img/seamless-m.webp 1x, ./img/seamless-m@2x.webp 2x">
        <source media="(min-width: 1440px)" srcset="./img/seamless-d.jpg 1x, ./img/seamless-d@2x.jpg 2x">
        <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
        <img class="slider__pic" src="./img/seamless-m.jpg" srcset="./img/seamless-m@2x.jpg 2x" alt="">
      </picture>
    </div>
  </li>
</ul>
<div class="pagination pagination__slider-patients">
  <button class="pagination__button pagination__button--current" type="button">1</button>
  <button class="pagination__button" type="button">2</button>
  <button class="pagination__button" type="button">3</button>
</div>