<section class="service-features">
  <h2 class="title-2">Service features</h2>
  <div class="service-features__buttons">
    <button class="service-features__button button button--squared active" type="button">For Pharmacies</button>
    <button class="service-features__button button button--squared" type="button">For Drivers</button>
    <button class="service-features__button button button--squared" type="button">For Patients</button>
  </div>

  <!-- Первый слайдер -->
  <ul class="service-slider">
    <li class="service-slider__item service-slider__item--active">
      {{> service-slider-pharmacies}}
    </li>

    <!-- Второй слайдер -->
    <li class="service-slider__item">
      {{> service-slider-drivers}}
    </li>

    <!-- Третий слайдер -->
    <li class="service-slider__item">
      {{> service-slider-patients}}
    </li>
  </ul>
</section>