<section class="subpromo" id="features">
  <h2 class="subpromo__title title-2">Our technology is reliable, fast, and easy to use</h2>
  <p class="subpromo__text">
    We collaborate with PrimeRx, PioneerRx, SuiteRx, DataScan, PkSoftware and LifeFile or Rx4Route can integrate with any other software you use.
  </p>
  <p class="subpromo__text subpromo__text--second">
    Our API receives and sends data from your software, which you can customize. For example, you can update your pharmacy software with a delivery ETA, status, signature, and a photo of a patient's door.
  </p>
  <div class="subpromo__card-container">
    <div class="subpromo__card subpromo__card--first">
      <svg class="subpromo__icon subpromo__icon--fan" width="55" height="55">
        <use href="./img/sprite.svg#promo-icon-1"></use>
      </svg>
      <p class="subpromo__card-text subpromo__card-text--first">All information is updated in real time</p>
    </div>
    <div class="subpromo__card subpromo__card--second">
      <svg class="subpromo__icon subpromo__icon--world" width="85" height="85">
        <use href="./img/sprite.svg#promo-icon-2"></use>
      </svg>
      <p class="subpromo__card-text subpromo__card-text--second">Each order has a special order identifier, which shows its status, correspondence with
        the
        customer, any phone calls and their contents, and the exact delivery time.</p>
    </div>
  </div>
</section>
