<section class="test-drive">
  <h3 class="test-drive__title title-3 title-3--white">We offer a test drive - 7 days for free</h3>
  <p class="test-drive__subtitle">You will get access to all the features of Rx4Route for free. And after 7 days, all
    data will be saved and you will be able to pay for the service directly in your personal account.</p>
  <button class="test-drive__button button button--purple">Try it for free</button>
  <picture>
    <source type="image/webp" media="(min-width: 1440px)" srcset="img/girl-d.webp 1x, ./img/girl-d@2x.webp 2x">
    <!-- <source type="image/webp" media="(min-width: 768px)" srcset="img/.webp 1x, ./img/.webp 2x"> -->
    <source type="image/webp" srcset="img/girl-m.webp 1x, ./img/girl-m@2x.webp 2x">
    <source media="(min-width: 1440px)" srcset="./img/girl-d.jpg 1x, ./img/girl-d@2x 2x">
    <!-- <source media="(min-width: 768px)" srcset="./img/ 1x, ./img/ 2x"> -->
    <img class="test-drive__img" src="./img/girl-m.jpg" srcset="./img/girl-m@2x.jpg 2x" alt="">
  </picture>
</section>
