<section class="test-drive" id="try">
  <div class="container test-drive__flex-container">
    <div class="test-drive__block-1">
      <h3 class="test-drive__title title-3 title-3--white">We offer a test drive - 7 days for free</h3>
      <p class="test-drive__subtitle">You will get access to all the features of Rx4Route for free. And after 7 days, all
        data will be saved and you will be able to pay for the service directly in your personal account.</p>
      <button class="test-drive__button button button--purple booking-button">Try it for free</button>
    </div>
    <picture>
      <source type="image/webp" srcset="img/quadro.webp">
      <img class="test-drive__img" src="./img/quadro.png" alt="">
    </picture>
  </div>
</section>
