<section class="why" id="about">
    <h2 class="why__title title-2">Why Rx4Route?</h2>
    <p class="why__subtitle hoisting-text hoisting-text--start">Our tools streamline front-end and behind-the-counter pharmacy operations and identify
      cost-saving opportunities for patients so pharmacists can focus on what matters most – their patients’ health.</p>
    <ul class="why__list">
      <li class="why__item">
        <h4 class="why__item-title title-4">Modern technologies</h4>
        <p class="why__description hoisting-text hoisting-text--start">
          The software of the Rx4Router provides advanced route optimization capabilities,
          providing the most efficient delivery routes for the drivers of your pharmacy. This helps to reduce travel time,
          minimize fuel consumption and improve overall delivery efficiency.
        </p>
        <div class="why__map hoist">
          <img class="why__pic" src="./img/map-big.png" alt="Map">
          <div class="why__widget-time hoisting__element hoisting__element--not-visible">
            <h5 class="why__widget-title">ETA:</h5>
            <p class="why__widget-text">02:01 PM</p>
            <h5 class="why__widget-title">The driver will be:</h5>
            <p class="why__widget-text why__widget-text--bg">~45 min</p>
            <h5 class="why__widget-title">Stops before order:</h5>
            <p class="why__widget-text why__widget-text--bg">2</p>
          </div>
          <div class="why__widget-name hoisting__element hoisting__element--not-visible">
            <div class="why__widget-first-block">
              <img src="./img/boy.png" width="50" height="50" alt="">
              <span><svg width="12" height="12">
                <use href="./img/sprite.svg#star"></use>
              </svg>5</span>
            </div>
            <div class="why__widget-second-block">
              <p class="why__widget-text why__widget-text--white">Driver assigned<svg width="12" height="12">
                <use href="./img/sprite.svg#check"></use>
              </svg>
            </p>
            </div>
            <div class="why__widget-third-block">
              <p class="why__widget-title">Name:</p>
              <p class="why__widget-text">Matt Silberstein</p>
            </div>
          </div>
        </div>
      </li>
      <li class="why__item">
        <h4 class="why__item-title title-4">Compliance and Privacy Concerns</h4>
        <p class="why__description  hoisting-text hoisting-text--start">Rx4Route understands the importance or maintaining compliance with regulations such as
          HIPAA. Your software is designed with stringent security measures to protect patient information and ensure
          adherence to privacy quidelines.</p>
        <div class="why__map hoist">
          <img class="why__img-dashboard" src="./img/dashboard.png" alt="">
          <img class="why__img-hipa hoisting__element hoisting__element--not-visible" src="./img/hipaa.svg" alt="">
        </div>
      </li>
      <li class="why__item">
        <h4 class="why__item-title title-4">Real-time tracking</h4>
        <p class="why__description why__description--margin  hoisting-text hoisting-text--start">With Rx4 Route, you can provide your patients with real-time tracking capability. They
          can easily track the status and location of the delivery of their recipes, eliminating uncertainty and
          increasing customer satisfaction.</p>
          <div class="why__map hoist">
            <img src="./img/real-time-map.png" alt="">
            <div class="why__bundl hoisting__element hoisting__element--not-visible">
              <svg width="40" height="49">
                <use href="./img/sprite.svg#bundl"></use>
              </svg>
              <p class="why__bundl-text">track the status and delivery location of your recipes.</p>
            </div>
          </div>
      </li>
      <li class="why__item">
        <h4 class="why__item-title title-4">Timely notifications</h4>
        <p class="why__description  hoisting-text hoisting-text--start">
          With Life Text Message Notifications, your customers receive timely updates at every crucial stage of their delivery. From order confirmation to driver arrival and successful delivery, they stay informed throughout the process. This level of communication not only boosts customer satisfaction but also reduces customer inquiries and concerns, freeing up your staff's time for more important tasks.
        </p>
          <div class="why__map hoist">
            <img class="why__communication" src="./img/message.svg" alt="">
            <img class="why__widget-driver-out hoisting__element hoisting__element--not-visible" src="./img/widget-driver-out.svg" alt="">
            <!-- <div class="why__bundl why__bundl--tel">
              <svg width="39" height="39">
                <use href="./img/sprite.svg#tel"></use>
              </svg>
              <p class="why__bundl-text">effective coordination throughout the entire delivery process.</p>
            </div> -->
          </div>
      </li>
    </ul>
  </section>
