<section class="why">
    <h2 class="why__title title-2">Why Rx4Route?</h2>
    <p class="why__subtitle">Our tools streamline front-end and behind-the-counter pharmacy operations and identify
      cost-saving opportunities for patients so pharmacists can focus on what matters most – their patients’ health.</p>
    <ul class="why__list">
      <li class="why__item">
        <h4 class="why__item-title title-4">Modern technologies</h4>
        <p class="why__description">The software of the Rx4Router provides advanced route optimization capabilities,
          providing the most efficient delivery routes for the drivers of your pharmacy. This helps to reduce travel time,
          minimize fuel consumption and improve overall delivery efficiency.</p>
        <div class="why__map">
          <img class="why__pic" src="./img/map-m.jpg" alt="Map">
          <img class="why__widget why__widget-time" src="./img/widget-time.svg" alt="">
          <img class="why__widget why__widget-name" src="./img/widget-name.svg" alt="">
        </div>
      </li>
      <li class="why__item">
        <h4 class="why__item-title title-4">Compliance and Privacy Concerns</h4>
        <p class="why__description">Rx4Route understands the importance or maintaining compliance with regulations such as
          HIPAA. Your software is designed with stringent security measures to protect patient information and ensure
          adherence to privacy quidelines.</p>
        <div class="why__map">
          <img class="why__img-dashboard" src="./img/dashboard-m.jpg" alt="">
          <img class="why__img-hipa" src="./img/hipaa-m.svg" alt="">
        </div>
      </li>
      <li class="why__item">
        <h4 class="why__item-title title-4">Real-time tracking</h4>
        <p class="why__description why__description--margin">With Rx4 Route, you can provide your patients with real-time tracking capability. They
          can easily track the status and location of the delivery of their recipes, eliminating uncertainty and
          increasing customer satisfaction.</p>
          <div class="why__map">
            <img src="./img/real-time-map.jpg" alt="">
            <img class="why__img-bundl" src="./img/bundl.svg" alt="">
          </div>
      </li>
      <li class="why__item">
        <h4 class="why__item-title title-4">Lack of communication problems</h4>
        <p class="why__description">Our software includes built-in communication functions that ensure uninterrupted
          communication between your pharmacy, drivers and patients.</p>
          <div class="why__map">
            <img class="why__communication" src="./img/communication.jpg" alt="">
            <img class="why__img-tel" src="./img/tel.svg" alt="">
          </div>
      </li>
    </ul>
  </section>
